<div class="container">
  <tabset>
    <tab heading="Порівняння за CPU">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th>CPU</th>
            <th *ngFor="let computer of computerNames">
              {{ computer }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of compCPU; let i = index; trackBy: trackByFn">
            {{ computerNames[i] }}
            <td class="field" *ngFor="let field of row; let j = index; trackBy: trackByFn">
              <input type="text" [disabled]="i === j" appMyNumberOnly [(ngModel)]="compCPU[i][j]" class="form-control"
                (ngModelChange)="applyChanges(compCPU, i, j)">
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="Порівняння за GPU">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th>GPU</th>
            <th *ngFor="let computer of computerNames">
              {{ computer }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of compGPU; let i = index; trackBy: trackByFn">
            {{ computerNames[i] }}
            <td class="field" *ngFor="let field of row; let j = index; trackBy: trackByFn">
              <input type="text" [disabled]="i === j" appMyNumberOnly [(ngModel)]="compGPU[i][j]" class="form-control"
                (ngModelChange)="applyChanges(compGPU, i, j)">
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="Порівняння за GPU">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th>GPU</th>
            <th *ngFor="let computer of computerNames">
              {{ computer }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of compHDD; let i = index; trackBy: trackByFn">
            {{ computerNames[i] }}
            <td class="field" *ngFor="let field of row; let j = index; trackBy: trackByFn">
              <input type="text" [disabled]="i === j" appMyNumberOnly [(ngModel)]="compHDD[i][j]" class="form-control"
                (ngModelChange)="applyChanges(compHDD, i, j)">
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
    <tab heading="Порівняння ознак">
      <table class="table table-bordered table-hover">
        <thead>
          <tr class="table-primary">
            <th>Ознака</th>
            <th *ngFor="let prop of propNames">
              {{ prop }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of compProps; let i = index; trackBy: trackByFn">
            {{ propNames[i] }}
            <td class="field" *ngFor="let field of row; let j = index; trackBy: trackByFn">
              <input type="text" [disabled]="i === j" appMyNumberOnly [(ngModel)]="compProps[i][j]" class="form-control"
                (ngModelChange)="applyChanges(compProps, i, j)">
            </td>
          </tr>
        </tbody>
      </table>
    </tab>
  </tabset>
</div>
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-primary" (click)="calculate()">Calculate</button>
  </div>
</div>
<div class="container" *ngIf="showResult">
  <div class="row">
    <table class="table table-bordered table-hover table-nonfluid d-inline-block" style="display: inline-block">
      <thead>
        <tr class="table-primary">
          <td></td>
          <td>CPU Result</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of compProp1; let i = index; trackBy: trackByFn">
          <td>{{ computerNames[i] }}</td>
          <td>{{ row }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-hover table-nonfluid d-inline-block" style="display: inline-block">
      <thead>
        <tr class="table-primary">
          <td></td>
          <td>GPU Result</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of compProp2; let i = index; trackBy: trackByFn">
          <td>{{ computerNames[i] }}</td>
          <td>{{ row }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-hover table-nonfluid d-inline-block" >
      <thead>
        <tr class="table-primary">
          <td></td>
          <td>HDD Result</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of compProp3; let i = index; trackBy: trackByFn">
          <td>{{ computerNames[i] }}</td>
          <td>{{ row }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-hover table-nonfluid d-inline-block" style="width:auto">
      <thead>
        <tr class="table-primary">
          <td></td>
          <td>Коефіцієнти критеріїв</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of propCoef; let i = index; trackBy: trackByFn">
          <td>{{ computerNames[i] }}</td>
          <td>{{ row }}</td>
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered table-hover table-nonfluid d-inline-block" style="width:auto">
      <thead>
        <tr class="table-primary">
          <td></td>
          <td>Оцінка вибору комп'ютера за критеріями</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of resultData; let i = index; trackBy: trackByFn">
          <td>{{ computerNames[i] }}</td>
          <td>{{ row }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>
